node_modules
dist
/build
.DS_Store
*.log
.env
.env.local
.env.*.local

# Vite
.vite

# Cloudflare / Wrangler
.wrangler

# Wails
desktop/frontend/dist
desktop/build/bin
desktop/build/darwin
desktop/build/windows
desktop/build/linux
desktop/build/ios
desktop/build/android

# Editor / IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.claude
